.frame3-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas */
    gap: 40px; /* Espaçamento entre os itens */
    justify-items: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    width: 100%;
    height: 60vh;
    padding: 100px;
    margin-top: 30px;
    box-sizing: border-box;
}

.feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature-box p {
    font-family: 'Pangram', sans-serif;
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
