.navbar-container {
  width: 100%;
  height: 70px;
  background: #fbf9fc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
}

/* MENU */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-btn {
  background-color: #6a0dad;
  padding: 8px 16px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
  border: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.navbar-btn:hover {
  background-color: #5308a5;
}

.logout-btn {
  background-color: #e74c3c;
}

.logout-btn:hover {
  background-color: #c0392b;
}
