.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  border-bottom: 1px solid black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  padding: 0 40px;
}

.logo img {
  height: 60px;
  width: auto;
  max-width: 160px; /* limite para o logo não ocupar demais */
  cursor: pointer;
  object-fit: contain; /* garante que o conteúdo se ajuste */
}


.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-item {
  cursor: pointer;
  color: #CA419C;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.signin-button,
.signup-button,
.message-button,
.dashboard-button,
.logout-button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
}

.signin-button {
  background-color: white;
  color: #7852A5;
  border: 1px solid #7852A5;
}

.signup-button {
  background-color: #7852A5;
  color: white;
}

.message-button {
  background-color: #E75480;
  color: white;
}

.dashboard-button {
  background-color: #7852A5;
  color: white;
}

.logout-button {
  background-color: tomato;
  color: white;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.welcome-text {
  font-weight: bold;
  color: #7852A5;
}


.mensagens-button {
  display: flex;
  width: 120px;
  height: 35px;
  margin: 15px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: #7852A5;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
