.cadastro-container {
  box-sizing: border-box;
  align-items: center;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
}

/* Formulário */
.cadastro-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cadastro-form h2 {
  align-items: center;
  color: #7852A5;
  margin-bottom: 20px;
  margin-left: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #7852A5;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #7852A5;
  border-radius: 5px;
}

/* Botões */
.button-group {
  display: flex;
  width: 700px;
  height: 20vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 20px;
  margin-top: 150px;
}

.submit-button {
  display: block;
  width: 120px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #7852A5;
}

.update-button {
  display: block;
  width: 120px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #0056b3;
}

.delete-button {
  display: block;
  width: 120px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #ff4d4d;
}
