.log-users-container {
    box-sizing: border-box;
    margin: 0;
}

.log-users-box {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 40vh;
    margin-left: 40%;
    margin-top: 10%;
    align-items: center;
}

.log-users-box h2 {
    display: flex;
    width: 350px;
    justify-content: center;
    margin: 7px 20%;
    color: #7852A5;
}

.log-users-form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.log-users-form label {
    display: flex;
    color: #7852A5;
    font-size: 20pz;
    margin: 10px;
}

.log-users-form input {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.log-users-button {
    display: block;
    background-color: #7852A5;
    width: 200px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 7px;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}