/* src/pages/agendapaciente/AgendaPaciente.css */

.agenda-paciente {
    margin: 30px;
  }
  
  .agenda-paciente ul {
    list-style-type: none;
    padding: 0;
  }
  
  .agenda-paciente li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .agenda-paciente button {
    margin-left: 20px;
    background-color: #7852A5;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .agenda-paciente button:hover {
    background-color: #5a3a8b;
  }
  