.password_recovery-container {
    box-sizing: border-box;
    margin: 0%;
    text-align: center;
    font-family: 'Pangram', sans-serif;
    justify-content: center;
    height: 60vh;
  }
  
  .password_recovery-container h2 {
    display: block;
    width: 350px;
    margin-top: 30px;
  }

  .password_recovery-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
  }
    
  .input-group {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: #d9534f;
    margin-bottom: 16px;
  }
  
  .success-message {
    color: #5cb85c;
    margin-bottom: 16px;
  }
  
  .submit-button {
    display: block;
    width: 150px;
    background-color: #7852A5;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 50px;
  }
  
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  